@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B1D2FF;
    font-family: 'Roboto', sans-serif;
}

.todo{
    display: flex;
    flex-flow: row wrap;
    
}

.menu{
    background-color: white;
    width: 20%;
    height: 900px;
    margin: 2%;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2%;
}

.menu-top{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.menu-top-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    margin-top: 20%;
}

.menu-top-nav .nav{
    display: flex;
    flex-flow: column wrap;
}

.menu-button{
    display: flex;
    justify-content: center;
}

.menu-button button{
    background-color: #751AE2;
    color: white;
}

.menu-button button:hover{
    background-color: #751AE2;
    color: white;
}

.cuerpo{
    width: 75%;
    padding: 2%;

}

.title{
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.title h1{
    color: #751AE2;
    font-weight: 700;

}

.tarjetas{
    margin: 7%;
    display: flex;
    flex-flow: row wrap;
    gap: 20%;
}

.card-1{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    height: 5%;
}

.card-1-left{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card-1-left p{
    font-weight: 700;
}

.card-2{
    background-color: white;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.card-2 p{
    font-weight: 700;
}


