@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B1D2FF;
    font-family: 'Roboto', sans-serif;
}

.todo{
    display: flex;
    flex-flow: row wrap;
    
}

.menu{
    background-color: white;
    width: 15%;
    height: 900px;
    margin: 2%;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 2%;
}

.menu-top{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.menu-top-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 10px;
    margin-top: 20%;
}

.menu-top-nav .nav{
    display: flex;
    flex-flow: column wrap;
}


.nav-link{
    color: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.nav-link:hover{
    color: gray;
}

.menu-button{
    display: flex;
    justify-content: center;
}

.btn-css{
    background-color: #751AE2;
    color: white;
}

.btn-css:hover{
  color: #751AE2;
  border-color: #751AE2;
}

.cuerpo{
    width: 75%;
    padding: 2%;

}

.title{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.title h1{
    color: #751AE2;
    font-weight: 700;

}

.tarjetas{
    margin-top: 7%;
    margin-left: 20%;
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
}

.card-1{
    background-color: white;
    width: 34%;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    height: 5%;
}

.card-1-left{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.card-1-left p{
    font-weight: 700;
}

.card-2{
    background-color: white;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.card-2 p{
    font-weight: 700;
}

.tabla{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4%;
    text-align: center;
}

.tabla-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.tabla-top-search{
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    align-items: center;
}

.tabla-top-search input{
   border-color: #751AE2;
   border-radius: 10px;
   padding: 5px;
   outline: none;
}

.tabla-top-search button{
    width: 40px;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tabla-top-search button p{
  margin-top: 5px;
}



.tabla-cuerpo{
    padding: 10px;
    margin-top:20px;
    text-align: center;
}


.table thead{
    background-color: #751AE2;
    color: white;
}

.thead-inicio{
    border-radius: 10px 0px 0px 10px;
}

.thead-fin{
    border-radius: 0px 10px 10px 0px;
}

.table button{
    text-align: center;
    margin-top:-5px ;
    border: transparent;
}

.modal-edit{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B1D2FF;
    opacity: 0;
    pointer-events: none;
   /*  transition: opacity .3s .6s;
    --transform: translateY(-100vh);
    --transition: transform .5s; */
}

.modal-edit--show{
    opacity: 1;
    pointer-events: unset;
 /*    transition: opacity .3s;
    --transform: translateY(0);
    --transition: transform .5s .5s; */
}

/* .modal-js-container{
   transform: var(--transform);
   transition: var(--transition);
} */

.modal-edit .cuerpo{
    margin: auto;
}

.modal-edit .datos{
    margin-left: 0;
}

.back{
    margin-top: 3%;
}

.back a:hover{
 background-color: white;
}

.datos{
    padding: 8%;
    margin-left: 3%;
}

.datos h4{
    font-weight: 700;
}

.datos form{ 
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 40% 27% 27%;
    gap: 2em;
}

.label-button{
    margin: 10%;
}


.modal-client{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B1D2FF;
    opacity: 0;
    pointer-events: none;
}

.modal-client--show{
    opacity: 1;
    pointer-events: unset;
}





